# NixOS copies the complete theme directory alongside /boot/grub.
set theme=$prefix/../theme/main/theme.txt
export theme
set default=singlebooter
set timeout_style=menu
set timeout=@timeout@

menuentry "              Singlebooter" --id singlebooter --unrestricted {
    configfile $prefix/grub.cfg
}

menuentry "                Reiniciar" --id restart {
    reboot
}

menuentry "                 Apagar" --id shutdown {
    halt
}
